<% provide(:title, 'Customize') %>
<h1>Customize</h1>
<div class="container-fluid">
 
  	

<div class="row-fluid">
    <div class="span8">
    	<h2>Business Information</h2>
      
      <%= form_for @user, :url => user_path, :html => {:multipart => true} do |f| %>

				<%= f.label :business_name %>
		    <%= f.text_field :business_name %>

				<%= f.label :street %>
		    <%= f.text_field :street %>

		    <%= f.label :city %>
		    <%= f.text_field :city %>

		    <%= f.label :state %>
		    <%= f.text_field :state %>

		    <%= f.label :zip %>
		    <%= f.text_field :zip %>

    </div>
    
    <div class="span4">
			<h2>Upload Photos</h2>
			<%= f.label :image %>
			<%= f.file_field :image %>
			<%= f.label :image2 %>
			<%= f.file_field :image2 %>
			<%= f.label :image3 %>
			<%= f.file_field :image3 %>
	</div>
</div>
<%= f.submit "Update Profile", class: "btn btn-large btn-primary" %>
<% end %>
</div>


