<% provide(:title, 'Customize') %>
<h1>Customize</h1>

<div class="container">
	<div class="container-fluid">
		<div class="row-fluid">
	    <div class="span8">
	    	<h2>Business Information</h2>
	      
	      <%= form_for @user, :html => {:multipart => true} do |f| %>

						<%= f.fields_for :profile do |builder| %>

							<%= builder.label :tag_list, "Tags (separated by commas)" %>
					    <%= builder.text_field :tag_list %>

							<%= builder.label :business_name %>
					    <%= builder.text_field :business_name %>

							<%= builder.label :street %>
					    <%= builder.text_field :street %>

					    <%= builder.label :city %>
					    <%= builder.text_field :city %>

					    <%= builder.label :state %>
					    <%= builder.text_field :state %>

					    <%= builder.label :zip %>
					    <%= builder.text_field :zip %>

	    </div>
	    
	    <div class="span4">
				<h2>Upload Photos</h2>
				<%= builder.label :image %>
				<%= builder.file_field :image %>
				<%= builder.label :image2 %>
				<%= builder.file_field :image2 %>
				<%= builder.label :image3 %>
				<%= builder.file_field :image3 %>
		</div>
	</div>
	<%= f.submit "Update Profile", class: "btn btn-large btn-primary" %>
	<% end %>		
	<% end %>
	</div>
</div>

