<h1>Sign Up</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :business_name %><br />
    <%= f.text_field :business_name, :placeholder => "Display Name" %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, :placeholder => "Business Email" %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, :placeholder => "Create Password" %>
  </div>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, :placeholder => "www.wespot.co/username" %>
  </div>
  <div class="actions"><%= f.submit "Sign Up" %></div>
<% end %>



