<% provide(:title, @user.profile.business_name) %>

<body style="<%= show_user_bg %>">

<%= render 'main/nav2' %>

<%= @user.tags %>

<div id="light" class="lightbox">
  <h2>Menu</h2>
  <div id="tabs">
    <ul>
      <li><a href="#tabs-1">Appetizers</a></li>
    </ul>
 
    <div id="tabs-1">
      <ul id="dish-list">
			<% @dishes.each do |dish| %>
			  <li><%= dish.name %></li>
			  <% end %>
			</ul>
    </div>
  </div>

<a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Close</a>
</div>  


<div id="light2" class="lightbox2">
  <h2>Contact</h2>
  <%= @user.profile.address %><br/>
  <a href = "javascript:void(0)" onclick = "document.getElementById('light2').style.display='none';document.getElementById('fade').style.display='none'">Close</a>
</div>

<div class="control">
<button id="image1">1</button>
<button id="image2">2</button>
<button id="image2">3</button>
</div>


<script>
  $("#image1").click(function(e) {
    e.preventDefault();
    $.backstretch('<%= raw @user.profile.image.url %>');
  });
  $("#image2").click(function(e) {
    e.preventDefault();
    $.backstretch('<%= raw @user.profile.image2.url %>');
  $("#image3").click(function(e) {
    e.preventDefault();
    $.backstretch('<%= raw @user.profile.image3.url %>');
  });
  </script>

  <%# raw @user.profile.image.url %>

<div id="sidebar">
<% for instagram in @instagram.data %>
  <ul>
    <li>
 <a href="<%= instagram.images.standard_resolution.url %>">
 <%= image_tag instagram.images.thumbnail.url %></a>
  </li>
</ul>
<% end %>
</div>