<% provide(:title, @user.profile.business_name) %>

<!-- <body style="<%= show_user_bg %>"> -->

<button id="image1">Click 1</button>
  <button id="image2">Click 2</button>


<%= render 'main/nav2' %>

<div id="light" class="lightbox">
  <h2>Menu</h2>
  <div id="tabs">
    <ul>
      <li><a href="#tabs-1">Appetizers</a></li>
    </ul>
 
    <div id="tabs-1">
      <ul id="dish-list">
			<% @dishes.each do |dish| %>
			  <li><%= dish.name %></li>
			  <% end %>
			</ul>
    </div>
  </div>

<a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Close</a>
</div>  


<div id="light2" class="lightbox">
  <h2>Contact</h2>
  <%= @user.profile.address %>
  <a href = "javascript:void(0)" onclick = "document.getElementById('light2').style.display='none';document.getElementById('fade').style.display='none'">Close</a>
</div>



<script src="jquery.backstretch.min.js"></script>
<script>$("#image1").click(function(e) {
    e.preventDefault();
    $.backstretch('http://www.toddswanderings.com/wp-content/uploads/2010/11/Izakaya.jpg');
  });
  $("#image2").click(function(e) {
    e.preventDefault();
    $.backstretch('http://dl.dropbox.com/u/515046/www/cheers.jpg');
  });</script>
  <%# raw @user.profile.image.url %>


  <%#  <% @instagram.each do |instagram| %>

  <%# <%= image_tag instagram.images.first.last.url %>

 <%# <% end %>